* {
    font-family: 'Roboto Slab', serif;
}

img {
    height: 150px;
    object-fit: scale-down;
    padding: 5px;
}

img:hover {
    cursor: pointer;
}

.product-card {
    border: solid 1px;
    border-radius: 20px;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.card-text {
    font-size: 15px;
}

.card-title {
    font-size: 17px;
}

.card-button {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

@media screen and (max-width: 390px) {
    .product-card {
        border: solid 1px;
        border-radius: 20px;
        margin-bottom: 1rem;
    }
}